<mat-dialog-content class="mat-typography">
    <form [formGroup]="formGroups" (submit)="onSubmitGroups()">
  
      <h1 class="element-size2">Создание группы:</h1>
      <mat-form-field class="element-size2">
        <mat-label for="search-box">Название группы</mat-label>
        <input #groupName formControlName="groupName" matInput type="text" id="groupName" name="groupName"/>
        <mat-hint
          *ngIf="formGroups.get('groupName').invalid && formGroups.get('groupName').touched"
          >Поле Название группы не должно быть пустым</mat-hint>
      </mat-form-field>
      <br>
      <mat-form-field class="element-size2" appearance="fill">
        <mat-label for="search-box">Тип группы</mat-label>
        <mat-select formControlName="groupssTypee"  name="groupssTypee" required>
          <mat-option  name="groupssTypee"
            *ngFor="let option of groupssTypee"
            [value]="option.groupssTypee"
            >{{ option.group }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      <br>   
      <mat-form-field class="element-size" appearance="fill">
        <mat-label>Учебный год</mat-label>
        <mat-date-range-input [min]="minDate" [max]="maxDate2" [formGroup]="formGroups" [rangePicker]="picker"> 
        [comparisonStart]="formGroups.value.start"  [comparisonEnd]="formGroups.value.end">
          <input #start matStartDate formControlName="start" placeholder="Начало года" id="start" name="start">
          <input #end matEndDate formControlName="end"  placeholder="Конец года" id="end" name="end">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>

      <br/>
  
      <mat-form-field class="element-size2">
        <mat-label for="search-box">Описание</mat-label>
        <input #description formControlName="description" matInput type="text" id="description" name="description"/>
        <mat-hint
          *ngIf="formGroups.get('description').invalid && formGroups.get('description').touched"
          >Поле Описание группы не должно быть пустым</mat-hint>
      </mat-form-field>
      <br />
  
      <mat-dialog-actions align="end">
        <button 
          mat-button
          cdkFocusInitial
          type="submit"
          id="submitDetails"
          name="submitDetails"
          [disabled]="formGroups.invalid"
        >
          Сохранить
        </button>
        <button mat-button mat-dialog-close>Отмена</button>
      </mat-dialog-actions>
    </form>
  </mat-dialog-content>
  