  
  <div *ngIf="!isLoading" class="groups">
    <button mat-raised-button color="primary" (click)="goBack()">
      Назад
    </button>
  </div>

  <div *ngIf="isLoading" class="spinner">
    <mat-progress-spinner 
      color="primary" 
      mode="indeterminate">
    </mat-progress-spinner>
  </div>
  
  <div *ngIf="!isLoading" class="form">
    <mat-card class="groupTypes">
      <mat-card-title>Выберите тип группы:</mat-card-title>
      <br>
      <ng-container *ngFor="let typeGroup of type">
        <button mat-raised-button color="primary" class="buttons" (click)="onSelect(typeGroup)">
          {{typeGroup.name}}&nbsp;
        <mat-icon>groups</mat-icon>
        </button>
      </ng-container>
    </mat-card>
  </div>