

  <div *ngIf="!isLoading" class="createTimesheets">
    <button mat-raised-button color="primary" *ngIf="timesheets[0] == null" (click)="addTimesheets()"> 
      Добавить табель
    </button>
    <div *ngIf="timesheets[0] != null">
    <button mat-raised-button color="primary" *ngFor="let timesheet of timesheets" (click)="changeTimesheet(timesheet)"> 
      Изменить название табеля
    </button>
    <br>
    <br>
    </div>
    &nbsp;&nbsp;&nbsp;&nbsp;
      <button mat-raised-button color="primary" (click)="goBack()">
        Назад
      </button>
    </div>
  <br>

  <div *ngIf="isLoading" class="spinner">
    <mat-progress-spinner 
      color="primary" 
      mode="indeterminate">
    </mat-progress-spinner>
  </div>

  <div *ngIf="!isLoading" class="form">
    <mat-card class="groups">
      <mat-card-title>Выберите табель:</mat-card-title>
      <br>
      <div class="timesheets">
        <div *ngIf="timesheets[0] != null">
        <button mat-raised-button color="primary"  *ngFor="let timesheet of timesheets" class="buttons" (click)="onSelect(timesheet)">
          {{timesheet.name}}
        <mat-icon>table_view</mat-icon>
        </button>
      </div>
      <ng-container *ngIf="timesheets[0] == null">
        <mat-card >
          Для данной группы табель не создан.
        </mat-card>
      </ng-container>
      </div>
    </mat-card>
  </div>
