<!--<mat-progress-spinner class="example-margin"
[color]="color"
[mode]="mode"
 *ngIf="!isReady"></mat-progress-spinner>
<div class="form" *ngIf="isReady">
    <mat-card  class="login"> 
        <mat-card-title>Восстановление пароля:</mat-card-title>
        <br>
           <mat-form-field class="full-width">
                <mat-label>Укажите адрес вашей электронной почты</mat-label>
                <input  matInput  [(ngModel)]="loginUser.email" [errorStateMatcher]="matcher"
                [formControl]="emailFormControl"  placeholder="ivanov@mail.com" type="email" required>
                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                  Введите правильный формат электронной почты 
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                  Поле адрес электронной почты не должно быть пустым
                </mat-error>
              </mat-form-field> 
             <br>
               <br>
          <button
            class="ok"
            mat-raised-button color="primary"
            type="button"
            (click)="sendEmail()" >
            Отправить
          </button> 
          <a class="signUp"  routerLink="/login">Вернуться на страницу входа</a>
    </mat-card>
    </div>-->