*{
    outline:none;
  }
  .spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    margin: 5%;
  }
  .createPlan {
    padding: 30px 0 20px 40px;
   }  
   .form {
    padding: 5% 0 0 30%;
  }
   table {
    width: 100%;
  }
  .groups {
    padding: 40px 0 0 30px;
   }
  .tableUser{
    width: 70%;
    margin: 0 0 30px 40px;
  }