table {
  width: 99%;
  margin: 50px 0 0 10px;
}
.buttons {
  padding: 60px 0 0 60px;
}
.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  padding: 15%;
}
.cells {
  margin: 0 0 0 5px;
}
.datePicker{
  padding: 20px 0 0 20px;
}
.n {
  padding: 0 0 0 5px;
}
.count {
  max-width: 40px;
  /*text-align: center;*/
  max-height: 5px;
  padding: 0 3px 0 3px;
}
.title {
  padding: 0 0 0 10px;
  text-align: center;
}
.title2 {
  text-align: center;
}

checkbox {
  padding: 0 0 40px 0;
}
.days {
  padding: 0 5px 0 5px;
  text-align: center;
}
.checkDays {
  padding: 0 10px 0 0;
  text-align: center;
}
.firstDays {
  padding: 0 10px 0 0;
  text-align: center;
}
.r{
  padding: 0 0 0 10px;
}
.download{
  padding: 20px 0 0 15px;
}
.ng-hide{
  visibility: hidden;
  display: none;
}
.tt {
  display: block;
  display: none;
}
.cause{
  max-width: 150px;
}




