<p>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span *ngIf="!auth.loggedIn()" >Войдите в систему </span>
        <span *ngIf="auth.loggedIn()">Детский сад </span>
      <span class="example-spacer"></span>
<button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" routerLink="/signup" *ngIf="!auth.loggedIn()" routerLinkActive="active">
  <mat-icon>assignment_ind</mat-icon>
</button>
<button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" routerLink="/login" *ngIf="!auth.loggedIn()" routerLinkActive="active">
  <mat-icon>login</mat-icon>
</button>
<button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon"*ngIf="auth.loggedIn()" (click)="auth.logoutUser()">
  <mat-icon>logout</mat-icon>
</button>
    </mat-toolbar-row>
    </mat-toolbar>
<p>

<router-outlet></router-outlet>