<!--*ngIf="Auth.loggedIn()"  *ngIf="!isImport"-->
  <div class="createChildren" *ngIf="Auth.loggedIn()" >
    <button *ngIf="!isLoading" mat-raised-button (click)="addChild()" color="primary"  > <!--routerLink="/addChild"-->
      Добавить ребёнка
    </button>
    &nbsp; &nbsp; &nbsp;
    <button *ngIf="!isLoading" mat-raised-button color="primary" (click)="goBack()">
      Назад
    </button>
    &nbsp; &nbsp; &nbsp;
    <button *ngIf="isShow && !isLoading" (click)="isShow=!isShow" mat-raised-button color="primary">
      Загрузить список детей
    </button>
  </div>
 
  <div class="createChildren" *ngIf="!isShow">
    <form [formGroup] = "uploadForm" (ngSubmit)="onSubmit()">      
      <div>
        <input type="file" name="profile" (change)="onFileSelectt($event)"/>
      </div>
      &nbsp; &nbsp; &nbsp;
      <div>
        <button mat-raised-button color="primary"  type="submit"> Загрузить список детей </button>
      </div>
    </form>
  </div>
  <br>

  <div *ngIf="isLoading" class="spinner">
    <mat-progress-spinner 
      color="primary" 
      mode="indeterminate">
    </mat-progress-spinner>
  </div>

  <div   class="mat-elevation-z8 tableChildren">
    <div  *ngIf="!isLoading" >
  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="lname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Фамилия </th>
      <td mat-cell *matCellDef="let element" (click)="changeChild(element)" > {{element.lastName}} </td>
    </ng-container>

    <ng-container matColumnDef="fname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Имя </th>
        <td mat-cell *matCellDef="let element" (click)="changeChild(element)"> {{element.firstName}} </td>
      </ng-container>

      <ng-container matColumnDef="patronymic">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Отчество </th>
        <td mat-cell *matCellDef="let element" (click)="changeChild(element)"> {{element.patronymic}} </td>
      </ng-container>
  
    <ng-container matColumnDef="dateBorn">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Дата рождения </th>
      <td mat-cell *matCellDef="let element" (click)="changeChild(element)" > {{element.dayOfBirth}} </td>
    </ng-container>
<!-- routerLink="/viewChild/{{element.id}}" -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  </div>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>