<!--*ngIf="Auth.loggedIn()"-->
<div class="createChildren" *ngIf="Auth.loggedIn()" >
    <button mat-raised-button color="primary" >
      Добавить ребёнка
    </button>
    &nbsp; &nbsp; &nbsp;
    <button mat-raised-button color="primary" (click)="goBack()">
      Назад
    </button>
  </div>
  <br>

  <div class="mat-elevation-z8 tableChildren">
  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="lname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Название группы </th>
      <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
    </ng-container>

    <ng-container matColumnDef="fname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Название группы </th>
        <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
      </ng-container>

      <ng-container matColumnDef="patronymic">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Название группы </th>
        <td mat-cell *matCellDef="let element"> {{element.patronymic}} </td>
      </ng-container>
  
    <ng-container matColumnDef="dateBorn">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Дата рождения </th>
      <td mat-cell *matCellDef="let element"> {{element.dayOfBirth}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>

  <div  class="spinner" *ngIf="isLoading">
    <mat-progress-spinner 
      color="primary" 
      mode="indeterminate">
    </mat-progress-spinner>
  </div>
  