*{
  outline:none;
}
.tableChildren{  
    width: 90%;
   margin: 10px 0 0 60px;
  }
.createChildren {
    padding: 20px 0 0 10px;
   }
   table {
    width: 100%;
  }
  .spinner{
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
  }