<div *ngIf="isLoading" class="spinner">
  <mat-progress-spinner 
    color="primary" 
    mode="indeterminate"> 
  </mat-progress-spinner>
</div>

<div *ngIf="!clickEdit && !isLoading" class="component">
  <mat-form-field appearance="fill">
      <mat-label>Выберите неделю:</mat-label>
      <input matInput (dateChange)="chouseWeek()" [min]="minDate" [max]="maxDate" [(ngModel)]="week" [matDatepickerFilter]="myFilter" [matDatepicker]="dp3" disabled>
      <mat-datepicker-toggle  matSuffix [for]="dp3"></mat-datepicker-toggle>
      <mat-datepicker  #dp3 disabled="false"></mat-datepicker>
    </mat-form-field>
</div>

<form *ngIf="!isLoading" [formGroup]="formGroups" (submit)="onSubmitGroups()">

  <div  class="component">
    <mat-form-field class="example-full-width">
      <mat-label>Название плана:</mat-label>
      <input #name formControlName="name" matInput type="text">
    </mat-form-field>
  </div>

  <div class="mat-elevation-z8 tablePlan">
    <table mat-table [dataSource]="dataSource">
      
      <ng-container matColumnDef="subject">
        <th mat-header-cell *matHeaderCellDef> <strong>Предмет</strong> </th>
        <td mat-cell *matCellDef="let element" formArrayName="subjects">  
          <mat-form-field  [formGroupName]="0" class="example-full-width" >
            <input matInput #name formControlName="name">
          </mat-form-field>
        </td>
      </ng-container>

      <ng-container matColumnDef="day1" >
        <th mat-header-cell *matHeaderCellDef > <strong>Понедельник({{ chouseDate | date:'dd-MM-yyyy' }})</strong> </th>
        <td mat-cell *matCellDef="let element" formArrayName="days">  
          <mat-form-field  class="example-full-width"  [formGroupName]="0">
            <mat-label>Планы:</mat-label>
            <textarea matInput #plans formControlName="plans"></textarea>
          </mat-form-field>
        </td>
      </ng-container>
      <ng-container matColumnDef="day2">
        <th mat-header-cell *matHeaderCellDef> <strong>Вторник({{ chouseDate2 | date:'dd-MM-yyyy' }})</strong> </th>
        <td mat-cell *matCellDef="let element" formArrayName="days">  
          <mat-form-field class="example-full-width" [formGroupName]="1">
            <mat-label>Планы:</mat-label>
            <textarea matInput #plans formControlName="plans"></textarea>
          </mat-form-field>
        </td>
      </ng-container>
      <ng-container matColumnDef="day3">
        <th mat-header-cell *matHeaderCellDef> <strong>Среда({{ chouseDate3 | date:'dd-MM-yyyy' }})</strong> </th>
        <td mat-cell *matCellDef="let element" formArrayName="days">  
          <mat-form-field class="example-full-width"  [formGroupName]="2">
            <mat-label>Планы:</mat-label>
            <textarea matInput #plans formControlName="plans"></textarea>
          </mat-form-field>
        </td>
      </ng-container>
      <ng-container matColumnDef="day4">
        <th mat-header-cell *matHeaderCellDef> <strong>Четверг({{ chouseDate4 | date:'dd-MM-yyyy' }})</strong> </th>
        <td mat-cell *matCellDef="let element" formArrayName="days">  
          <mat-form-field  [formGroupName]="3" class="example-full-width">
            <mat-label>Планы:</mat-label>
            <textarea matInput #plans formControlName="plans"></textarea>
          </mat-form-field>
        </td>
      </ng-container>
      <ng-container matColumnDef="day5">
        <th mat-header-cell *matHeaderCellDef> <strong>Пятница({{ chouseDate5 | date:'dd-MM-yyyy' }})</strong> </th>
        <td mat-cell *matCellDef="let element" formArrayName="days">  
          <mat-form-field class="example-full-width"  [formGroupName]="4">
            <mat-label>Планы:</mat-label>
            <textarea matInput #plans formControlName="plans"></textarea>
          </mat-form-field>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <br>
</form>

  <div class="editPlan" *ngIf="!isLoading" >
    <button *ngIf="clickEdit" mat-raised-button color="primary" (click)="edit()">
      Редактировать
    </button>
    <button *ngIf="!clickEdit" mat-raised-button color="primary" (click)="save()">
      Сохранить
    </button>
    &nbsp;&nbsp;&nbsp;
    <button mat-raised-button color="primary" (click)="goBack()">
      Назад
    </button>
  </div>
  <br>
